@charset "utf-8";
/* CSS Document */
.icon_n { background: url(../images/icon_n.png) no-repeat; }
.icon_rz { background: url(../images/icon_rz.gif) no-repeat; }
/*图标导航*/
.yys_icon { background: url(../images/yys.png) no-repeat; }
.nav { background: #FFF; padding-bottom: 15px; margin-bottom: 10px; }
.nav li { display: block; width: 25%; float: left; text-align: center; }
.nav li a { display: block; color: #666; }
.nav li i { display: block; width: 45px; height: 45px; background-size: 290px auto; margin: 15px auto 0; }
.nav li.ico-yidong i { background-position: 0 0; }
.nav li.ico-liantong i { background-position: -46px 0px; }
.nav li.ico-dianxin i { background-position: -91px 0px; }
.nav li.ico-xuni i { background-position: -136px 0px; }
/*滑动门搜索*/
.tabs { background-size: auto 100%; width: 100%; height: 38px; overflow: hidden; background: #FFF; border-bottom: 1px solid #eeeeee; }
.tabs a { font-size: 1em; font-weight: normal; text-align: center; float: left; width: 50%; height: 36px; line-height: 36px; display: inline-block; float: left; margin-bottom: -1px; }
.tabs a.active { border-bottom: 2px solid #e4000f; color: #e4000f; }
#mobileSearch_slide { height: auto; background: #FFF; }
.sreach { padding: 10px 0; }
.sreach p { padding: 8px; line-height: 30px; clear: both; }
.sreach p label { display: block; float: left; }
.sreach p input.dan { margin-top: 6px; margin-left: 3px; margin-right: 3px; width: 18px; height: 18px; vertical-align: top; border: 1px solid #CCC; -webkit-appearance: none; border-radius: 2px; -moz-appearance: none; -o-appearance: none; background: #FFF; }
.sreach p input.dan_active { width: 18px; height: 18px; vertical-align: top; border: 1px solid #ccc; -webkit-appearance: none; border-radius: 2px; background: url(../images/gou.png) 0 0 no-repeat; background-size: 90%; }
.sreach select { height: 24px; vertical-align: top; padding: 2px; font-size: 1em; border: 0; margin-right: 5px; background-color: #FFF; }
.bk { float: left; margin: 3px; border: 1px solid #CCC; border-radius: 2px; position: relative; padding-right: 5px; }
.bk i { display: block; float: left; margin-left: 5px; }
.bk i::after { border: 4px solid transparent; border-top-color: #020202; content: ''; position: absolute; right: 5px; ; top: 10px; }
.sreach .text { margin-left: 3px; margin-right: 3px; width: 50%; height: 24px; line-height: 24px; vertical-align: top; border: 1px solid #CCC; border-radius: 2px; padding: 2px; font-size: 1.2em; font-weight: bold; background: #FFF; }
.text::-webkit-input-placeholder {
font-weight:normal;
font-size:0.8em;
line-height:24px;
}
.sreach .button { width: 30px; vertical-align: top; height: 29px; width: 50px; border: 1px solid #ccc; -webkit-appearance: none; border-radius: 2px; background: url(../images/fdj.png) center center no-repeat; background-size: 50%; cursor: pointer; }
.dws { display: block; overflow: hidden; }
.dws input { width: 27px; height: 27px; border: 1px solid #CCC; border-radius: 2px; margin-right: 2px; margin-bottom: 2px; text-align: center; font-size: 1.2em; font-weight: bold; }
/*分类选择*/
.sort { padding: 0 5px 10px 5px; overflow: hidden; font-size: 0.8em; background: #fff; }
.sort li { float: left; text-align: center; margin: 10px 0 0; width: 33.333%; }
.sort li a { display: block; height: 36px; line-height: 36px; border: 1px solid #D2D2D2; background: #F8F8F8; margin: 0 5px; position: relative; }
.sort li a.active { color: #ff8a00; border: 1px solid #ff8a00; }
.sort li a i { width: 0; height: 0; border-width: 4px 4px; border-style: solid; border-color: transparent #d2d2d2 #d2d2d2 transparent; position: absolute; bottom: 4px; right: 4px; z-index: 2; }
.sort li a.active i { border-color: transparent #ff8a00 #ff8a00 transparent; }
.wrapper { width: 100%; min-height: 100%; height: auto; background: url(../images/html.jpg) fixed no-repeat left top; -webkit-background-size: 100% 100%; -moz-background-size: 100% 100%; -o-background-size: 100% 100%; background-size: 100% 100%; }
.wrapper { padding-bottom: 50px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.wrapper .container { position: relative; z-index: 2; height: 100%; width: 100%; }
div.slide-mask { position: fixed; z-index: 989999; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; display: none; }
aside.slide-wrapper { height: 100%; overflow: hidden; position: fixed; z-index: 999999; left: 0; top: 0; width: 250px; -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
aside.slide-wrapper > div { width: 100%; height: 100%; background-color: #fff; }
aside.slide-wrapper > div > div { padding: 0 10px; height: 45px; background-color: #262626; overflow: hidden; }
aside.slide-wrapper > div .gao { height: 3000px; }
aside.slide-wrapper > div > div strong { height: 45px; line-height: 45px; font-size: 18px; color: #ffffff; font-weight: normal; }
aside.slide-wrapper.moved { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
aside.slide-wrapper li { padding: 0px 10px; }
aside.slide-wrapper li > a { padding: 15px 10px; border-bottom: 1px solid #E9E9E9; font-size: 15px; display: block; color: #666; }
/*aside.slide-wrapper li.current > a { background-color: #ededed; }*/

aside.slide-wrapper ol { display: none; }
aside.slide-wrapper ol > li { display: block; border-bottom: 1px solid #ededed; }
aside.slide-wrapper ol > li > a { padding-left: 30px; border: none; font-size: 14px; display: block; color: #999; }
aside.slide-wrapper li.sub a { position: relative; }
aside.slide-wrapper li.sub a:after { display: block; position: absolute; top: 21px; right: 0; width: 14px; height: 14px; background: url(../images/gray.png) no-repeat; background-position: 0 -35px; background-size: 14px auto; content: ''; font-size: 0; line-height: 0; color: transparent; }
aside.slide-wrapper li.expand a:after { display: block; position: absolute; top: 21px; right: 0; width: 14px; height: 8px; background: url(../images/gray.png) no-repeat 0 0; background-size: 14px auto; content: ''; font-size: 0; line-height: 0; color: transparent; }
aside.slide-wrapper ol > li > a:after { background: none; }
.slide-mask:before, .slide-mask:after { content: ''; position: absolute; width: 8px; height: 8px; top: 200px; border-left: 4px solid #fff; border-top: 4px solid #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.slide-mask:before { left: 275px; }
.slide-mask:after { left: 285px; }
/*清除条件和订阅*/
.wrap { padding: 0 10px; background: #fff; }
.sort-clear { color: #666; font-size: 1.0em; overflow: hidden; line-height: 20px; padding: 10px 0; background: #fff; }
.sort-clear a { color: #666; cursor: pointer; }
.sort-clear .btn-clear { background: url(../images/ico_clear.png) no-repeat; background-size: 15px 18px; float: left; padding: 0 0 0 20px; font-size: 1em; }
.sort-clear .dycy { float: right; background: url(../images/jyh_bg.jpg) no-repeat left 1px; background-size: 18px 18px; padding-left: 23px; font-size: 1em; }
/*清除条件和订阅*/
.tt-first { width: 100%; height: 33px; border-bottom: 2px solid #eee; position: relative; margin: 10px 0 0; }
.tags-sub { right: 10px; left: 0; position: absolute; top: 0; font-size: 1.0em; }
.tags-sub li { margin: 0 0 0 10px; float: left; }
.tags-sub li a { color: #666; display: block; height: 33px; line-height: 28px; }
.tags-sub li.current a { color: #FF9934; border-bottom: 2px solid #FF9934; }
.tags-sub li.arrow { position: relative; margin-right: 17px; }
.tags-sub li.arrow i, .tags-sub li.arrow s { width: 0; height: 4px; border: 4px solid #AAA; border-color: #AAA transparent; position: absolute; right: -12px; }
.tags-sub li.arrow i.active, .tags-sub li.arrow s.active { border-color: #ff8a00 transparent; }
.tags-sub li.arrow s { border-width: 0 4px 4px 4px; top: 5px; }
.tags-sub li.arrow i { border-width: 4px 4px 0 4px; top: 16px; }
/*列表页号码展示*/
.cityhaoma { background: #fff; }
.cityhaoma li { display: block; border-bottom: 1px solid #dadada; }
.cityhaoma li a { display: block; padding: 10px; height: 70px; }
.cityhaoma li a .ch_show h1 { font-size: 1.5em; }
.cityhaoma li a .ch_show p { font-size: 0.8em; }
.cityhaoma li a .ch_show span { font-size: 1em; }
.cityhaoma li a .dq_show { margin: 20px 10px 0 0; }
.cityhaoma li a .dq_show span { color: #333; display: block; text-align: center; }
.cityhaoma li a .dplx { display: block; font-size: 0.8em; border: 1px solid #fff; border-radius: 5px; padding: 3px; margin-bottom: 5px; }
.cityhaoma li a i.group1 { border-color: #acacac; color: #acacac; }
.cityhaoma li a i.group2 { border-color: #ffde00; color: #ffde00; }
.cityhaoma li a i.group3 { border-color: #27bb35; color: #27bb35; }
.cityhaoma li a i.group4 { border-color: #469af2; color: #469af2; }
.cityhaoma li a i.group5 { border-color: #f20000; color: #f20000; }
/*热搜词*/
.hots { width: 100%; display: -moz-box; display: -webkit-box; display: box; border-bottom: 2px solid #fff; }
.hots .hots_1 { -moz-box-flex: 2.0; -webkit-box-flex: 2.0; box-flex: 2.0; }
.hots .hots_2 { -moz-box-flex: 1.0; -webkit-box-flex: 1.0; box-flex: 1.0; }
.hots .hots_3 { -moz-box-flex: 1.0; -webkit-box-flex: 1.0; box-flex: 1.0; }
.hots .hots_1 a, .hots .hots_2 a, .hots .hots_3 a { height: 40px; line-height: 40px; background: #F90; display: block; text-align: center; color: #FFF; }
.hosted { border-right: 2px solid #fff; }
/* 号码 */
.liang { display: inline-block; width: 20px; height: 20px; background-position: -80px -2px; background-size: 170px; margin-top: 4px; }
.pu { display: inline-block; width: 20px; height: 20px; background-position: -100px -2px; background-size: 170px; margin-top: 4px; }
.haoma { height: auto; }
.haoma .haomabt { line-height: 40px; padding: 0 2%; background: #fff; height: 40px; border-bottom: 1px solid #dadada; }
.haoma .haomabt i { display: inline-block; width: 3px; height: 14px; margin-top: 13px; margin-right: 3px; background: #F00; float: left; }
.haoma .haomabt span { display: inline-block; float: left; }
.haoma .haomabt a { display: inline-block; float: right; }
.haoma .hmlist { display: block; background: #fff }
.haoma .hmlist li { display: block; width: 50%; float: left; background: #fff; }
.haoma .hmlist li a { display: block; padding: 10px 0; height: 45px; border-left: 1px solid #dadada; border-top: 1px solid #dadada; text-align: center; }
.haoma .hmlist li a h2 { font-size: 1em; padding: 0; margin: 0; color: #000; font-family: Arial, Helvetica, sans-serif; }
.haoma .hmlist li a p { font-size: 0.8em; width: 100%; margin: 0 auto; text-align: center }
/*号模推荐*/
.model { margin-top: 10px; }
.model .modelbt { line-height: 40px; padding: 0 2%; background: #fff; height: 40px; border-bottom: 1px solid #dadada; }
.model .modelbt i { display: inline-block; width: 3px; height: 14px; margin-top: 13px; margin-right: 3px; background: #F00; float: left; }
.model .modelbt span { display: inline-block; float: left; }
.model .modelbt a { display: inline-block; float: right; }
.model .modelbt a .huan_icon { display: inline-block; width: 20px; height: 20px; background-size: 180px auto; background-position: -125px -123px; }
.modellist { padding: 5% 5% 0 5%; background: #fff; }
.modellist ul { display: block; margin-left: -5%; height: auto; }
.modellist li { display: block; padding-left: 5%; padding-bottom: 10px; width: 45%; float: left; text-align: center; }
.modellist li a { display: block; text-align: center; }
.modellist li a h2 { font-size: 1.2em; font-family: Arial, Helvetica, sans-serif; }
.modellist li a div { padding: 0 5%; font-size: 0.8em; }
.jzgd { height: 38px; line-height: 38px; border-top: 1px solid #eeeeee; background: #FFF; text-align: center; color: #333; margin-bottom: 10px; }
.jzgd a { font-size: 0.8em }
/*滑动门联系我们在线预约*/
.contact-tabs { background-size: auto 100%; width: 100%; height: 48px; overflow: hidden; background: #FFF; border-top: 1px solid #e7e7e7; margin-top: 10px; }
.contact-tabs a { border-bottom: 2px solid #e7e7e7; border-left: 1px solid #e7e7e7; margin-left: -1px; font-size: 1em; font-weight: normal; text-align: center; float: left; width: 50%; height: 38px; line-height: 38px; display: inline-block; position: relative; }
.contact-tabs a.active { color: #ff7f00; border-bottom: 2px solid #ff7f00; }
.contact-tabs a.active::after { border: 4px solid transparent; border-bottom-color: #ff7f00; content: ''; position: absolute; top: 30px; right: 49%; }
.seller_contact { padding: 10px; }
.seller_contact h1 { font-size: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/*---店铺认证图标样式---*/
.seller_contact .renzheng { border-bottom: 1px solid #e7e7e7; padding-bottom: 10px; margin-bottom: 10px; }
.seller_contact .renzheng i { display: inline-block; margin: 5px auto 0; height: 23px; margin-right: 5px; }
.seller_contact .renzheng i.sjrz { background-position: 0px 3px; width: 18px; background-size: 60px auto; }
.seller_contact .renzheng i.sfrz { background-position: 1px -44px; width: 29px; background-size: 60px auto; }
.seller_contact .renzheng i.yxrz { background-position: 0px -22px; width: 29px; background-size: 60px auto; }
.seller_contact .renzheng i.sjrz.on { background-position: -46px 3px; width: 18px; background-size: 60px auto; }
.seller_contact .renzheng i.sfrz.on { background-position: -37px -44px; width: 29px; background-size: 60px auto; }
.seller_contact .renzheng i.yxrz.on { background-position: -37px -22px; width: 29px; background-size: 60px auto; }
.seller_contact .renzheng i.vip1 { display: none; }
.seller_contact .renzheng i.vip2 { background-position: 0px -93px; width: 16px; background-size: 80px auto; }
.seller_contact .renzheng i.vip3 { background-position: 0px -115px; width: 16px; background-size: 80px auto; }
.seller_contact .renzheng i.vip4 { background-position: 0px -136px; width: 16px; background-size: 80px auto; }
.seller_contact .renzheng i.vip5 { background-position: 0px -160px; width: 16px; background-size: 80px auto; }
.seller_contact p { font-size: 0.875em; line-height: 180%; color: #666; word-wrap: break-word; }
.seller_contact p span { color: #000; }
.seller_contact .yjbh { height: 35px; padding-top: 10px; }
.seller_contact .yjbh a { display: block; width: 47%; height: 32px; line-height: 32px; text-align: center; color: #FFF; position: relative; float: left; }
.seller_contact .yjbh a:nth-child(odd) { margin-right: 5%; }
.seller_contact .yjbh a.telphone { background: #70c916; }
.seller_contact .yjbh a.telphone i { display: inline-block; background-size: 40px auto; height: 16px; background-position: 0px -35px; width: 18px; margin-bottom: -2px; }
.seller_contact .lxqq { display: inline-block; padding-right: 10px; }
.seller_contact .lxqq img { width: 22px; }
.seller_contact .yjbh a.jrdp { background: #00a8ff; }
.seller_contact .yjbh a.jrdp i { display: inline-block; background-size: 35px auto; height: 18px; background-position: 0px -296px; width: 18px; margin-bottom: -2px; }
.seller_reserve { padding-top: 40px; }
.seller_reserve p { display: block; border: 1px solid #e2e2e2; height: 36px; width: 80%; margin: 10px auto; border-radius: 5px; color: #999999; padding-left: 10%; position: relative; }
.seller_reserve p input { line-height: 36px; -webkit-appearance: none; }
.seller_reserve .name { background-size: 35px auto; background-position: 8px -148px; }
.seller_reserve .lxdh { background-size: 35px auto; background-position: 8px -175px; }
.seller_reserve .lxsf { background-size: 35px auto; background-position: 8px -308px; }
.seller_reserve .lxdz { background-size: 40px auto; background-position: 10px -387px; }
.seller_reserve .tjyd { display: block; background: #ffa144; height: 36px; width: 90%; margin: 10px auto; border-radius: 5px; color: #fff; -webkit-appearance: none; }
/*号码详情介绍*/
.haomaxx_bt { background: #fff; padding: 5px 5px 15px 5px; border-bottom: 1px solid #e7e7e7; border-top: 1px solid #e7e7e7; margin-bottom: 0px; }
.haomaxx_bt h1 { font-size: 1.7em; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; line-height: 180%; }
.haoma-dq { font-size: 0.8em; color: #666; text-align: center; height: 25px; }
.haoma-dq span{ padding-left:10px;}
.haomaxx_bt h2 { font-size: 1.2em; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; }
.haomaxx_bt h3 { font-weight: normal; font-size: 1em; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; }
.status_bar { position: relative; line-height: 20px; font-size: 12px; color: #7A7E88; padding-top: 8px; padding-bottom: 10px; }
.status_bar .date { margin-right: 10px; }
.status_bar .date i.date_icon { background-position: 0px 2px; height: 13px; width: 16px; display: inline-block; background-size: 50px auto; margin-bottom: -1px; }
.status_bar .attr i.eye_icon { background-position: 0px -11px; height: 13px; width: 16px; display: inline-block; background-size: 50px auto; }
.status_bar .btn_share { background: none repeat scroll 0% 0% #FFF; border: 1px solid #E0E1E2; font-size: 12px; height: 26px; line-height: 26px; text-indent: 10px; position: absolute; right: 0px; width: 63px; top: 0; }
.status_bar .btn_share i.share_icon { background-position: 0px -26px; height: 15px; width: 20px; display: inline-block; background-size: 50px auto; top: 2px; position: relative; }
.fxpt { height: 44px; padding: 5px 10px; border: 1px solid #C1C5CA; background: #fff; }
.sharebuttonbox { zoom: 1; width: 100%; height: 44px; }
.sharebuttonbox div { float: left; width: 16%; text-align: center; height: 44px; display: block; }
.sharebuttonbox div a { background: url(../images/share.png) no-repeat!important; background-size: 320px auto!important; display: block; margin-right: 0; width: 32px; float: none; display: inline-block; line-height: 22px; height: 22px; padding-top: 20px; }
.sharebuttonbox .bds_tsina { background-position: -17px -3px!important; }
.sharebuttonbox .bds_qzone { background-position: -68px -3px!important; }
.sharebuttonbox .bds_douban { background-position: -118px -3px!important; }
.sharebuttonbox .bds_tieba { background-position: -169px -3px!important; }
.sharebuttonbox .bds_renren { background-position: -220px -3px!important; }
.sharebuttonbox .bds_tqq { background-position: -270px -3px!important; }
.haomaxx_nr { background: #fff;  padding: 15px; }
.haomaxx_nr p { line-height: 35px; }
.haomaxx_nr p.haomaxx-three { }
.haomaxx_nr .blue-wx { font-size: 0.875em; height: 37px; color: #05a510; border: 1px solid #05b411; border-radius: 5px; }
.haomaxx_nr .blue-wx img { border: none; border-radius: 5px 0 0 5px; }
.haomaxx_nr p span.mc { font-size: 0.875em; color: #777 }
.haomaxx_nr p span.cs { padding: 0 5px; min-height: 35px; font-size: 0.875em; }
.haomaxx_nr p.haomaxx-one { width: 50%; float: left;  }
.haomaxx_nr p.haomaxx-two { width: 50%; float: right }
.haomaxx_nr p.haomaxx-one span.mc, .haomaxx_nr p.haomaxx-three span.mc { font-size: 0.875em; vertical-align: top; }
.haomaxx_nr p.haomaxx-one span.cs { padding: 0 5px; min-height: 35px; font-size: 0.875em; }
.haoma .hmlist li a p span { padding: 0 1px; }
.modellist li a h2 { font-size: 1.5em; }
 @media screen and (min-width: 380px) {
.haoma .hmlist li a h2 { font-size: 1.5em }
.liang { display: inline-block; width: 20px; height: 20px; background-position: -80px -1px; background-size: 170px; }
.pu { display: inline-block; width: 20px; height: 20px; background-position: -100px -1px; background-size: 170px; }
}
 @media only screen and (max-width:380px) {
.haoma .hmlist li a h2 { font-size: 1.2em }
.liang { display: inline-block; width: 20px; height: 20px; background-position: -80px -1px; background-size: 170px; }
.pu { display: inline-block; width: 20px; height: 20px; background-position: -100px -1px; background-size: 170px; }
}
 @media only screen and (max-width:325px) {
.haoma .hmlist li a h2 { font-size: 1.2em }
.liang { display: inline-block; width: 16px; height: 16px; background-position: -70px -2px; background-size: 150px; }
.pu { display: inline-block; width: 16px; height: 16px; background-position: -90px -2px; background-size: 150px; }
}
.ychidden { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.yidong_ljgm { width: 90%; margin: 0 auto; background: #F60; height: 32px; line-height: 32px; text-align: center; color: #FFF; display: block; }
.menu_list { width: 100%; margin: 0 auto 10px; }
.menu_head { height: 40px; line-height: 40px; padding-left: 18px; font-size: 14px; color: #525252; cursor: pointer; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; position: relative; margin: 0px; font-weight: bold; background: #fff url(../images/pro_left.png) center right no-repeat; }
.escrow_head { height: 40px; line-height: 40px; padding-left: 18px; font-size: 14px; color: #525252; cursor: pointer;  position: relative; margin: 0px; font-weight: bold; background:#fff;}
.menu_list .current { background: #ffff url(../images/pro_down.png) center right no-repeat; }
.menu_body { line-height: 38px; border-left: 1px solid #e1e1e1; backguound: #fff; border-right: 1px solid #e1e1e1; background: #fff }
.menu_body a { display: inline-block; height: 35px; line-height: 35px; padding: 0 5px; color: #777777; background: #fff; text-decoration: none; font-size: 0.8em; }
.menu_body a:hover { text-decoration: none; }
/*归属地*/
.icon_gujia { background: url(../images/icon_gujia.png) no-repeat; }
.nav li.ico-gsd i { background-position: 1px 0; }
.nav li.ico-sjjx i { background-position: -43px 0px; }
.nav li.ico-qqjx i { background-position: -87px 0px; }
.nav li.ico-sjgj i { background-position: -132px 0px; }
.gsd-cx { padding: 10px; margin-bottom: 10px; border-radius: 5px; }
.gsd-bt { height: 30px; line-height: 30px; text-align: center; font-size: 1.5em; background: #fff; padding: 8px 0; border-radius: 5px 5px 0 0; border-top: 2px solid #f00 }
.gsd-jg { background: #fff; text-align: center; font-size: 1.2em; padding: 8px 0; text-align: center; border-bottom: 1px solid #efefef }
.gsd-jg span { color: #f00 }
.gsd-jg1 { background: #fff; padding: 10px; line-height: 30px; font-size: 0.9em; text-align:center; }
.gsd-list { margin: 0 10px; }
.gsd-list li { height: 40px; line-height: 40px; background: #39F; color: #fff; font-size: 1.0em; padding-left: 10px; margin-bottom: 5px; }
.gsd-list li.list-jx { background: #34bd80 }
.gsd-list li a { color: #fff }
input.gsd-number { margin-left: 3px; margin-right: 3px; width: 70%; height: 26px; line-height: 26px; border: 1px solid #CCC; border-radius: 2px; padding: 2px; font-size: 1.0em; background: #FFF; float: left }
input.gsd-chaxun { width: 26%; border: none; background: #f00; color: #fff; height: 32px; line-height: 32px; border-radius: 2px; float: right }
.gsd-tj { margin: 10px; }
.gsd-tj-bt { line-height: 40px; padding: 0 10px; background: #fff; height: 40px; border-bottom: 1px solid #dadada; }
.gsd-tj-bt i { display: inline-block; width: 3px; height: 14px; margin-top: 13px; margin-right: 3px; background: #F00; float: left; }
.gsd-tj ul { background: #fff }
.gsd-tj ul.gsd-tj-hao li { padding: 5px 10px; border-bottom: 1px dotted #efefef }
.gsd-tj ul.gsd-tj-hao li span { color: #ff9800 }
.gsd-tj ul.gsd-tj-hao li em { float: right; color: #f00 }
.gsd-tj-more { text-align: center; padding: 10px 0; text-align: center; background: #fff }
.gsd-tj ul.gsd-tj-cha li { width: 50%; float: left; text-align: center; padding: 9px 0; border-bottom: 1px dotted #efefef }
.gsd-jg1 dt span { color: #f00 }
.gsd-zhu { padding: 10px; line-height: 200%; font-size: 0.8em; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc }
.gsd-gj { color: #999; font-size: 0.8em; padding: 5px; background: #fff }
.hot-texttip { border: 1px solid #dfce9f; background-color: #fef4e4; color: #000; margin: 0 10px; padding: 6px 8px 6px 10px; border-radius: 4px; position: relative; font-size: 0.875em }
/*头部*/

.heading { height: 40px; border-bottom: 2px solid #e4000f; background: #e4000f }
a.back { float: left; height: 40px; width: 20px; background: url(../images/icon.png) no-repeat 0 -355px; margin-left: 2% }
.heading-bt { float: left; width: 80%; color: #fff; text-align: center; line-height: 40px; }
.heading-bt span { color: #fff; display: inline; font-size: 1.2em; }
.heading-bt .city { height: 24px; line-height: 24px; overflow: hidden; display: inline; color: #fff; padding: 0; font-size: 0.875em; margin-left: 10px; }
.heading-bt .city_ico { width: 12px; height: 24px; display: inline; color: #fff; position: relative; }
.heading-bt .city_ico::after { border: 4px solid transparent; border-top-color: #fff; content: ''; position: absolute; right: -10px; top: 10px; }
a.menu { float: right; width: 30px; height: 30px; display: block; float: right; background: url(../images/icon.png) no-repeat; background-position: -60px 0px; background-size: 200px auto; position: absolute; top: 6px; right: 10px; z-index: 9999; }
/*详情页底部浮动电话*/
.footbar { position: fixed; right: 0; bottom: 0; left: 0; background-color: #fff; height: 50px; z-index: 50; border-top: 1px solid #ccc }
.btn-group { display: -webkit-box; display: -ms-box; display: box; }
.btn-group>div { width: 60px; text-align: center; border-right: 1px solid #e5e5e5; color: #F90; font-size: 11px; }
.btn-group>div a { color: #000; display: block; height: 20px; }
.detail-footbar .btn-group .btn { outline: none; border: 0; }
.btn-group .btn { height: 50px; line-height: 50px; }
.detail-footbar .btn-large { font-size: 13px; }
.btn-group .btn { display: block; -webkit-box-flex: 1; -ms-box-flex: 1; box-flex: 1; width: 100%; background: #fff; border-right: 1px solid #e5e5e5; }
.btn-primary { width: 100%; background-color: #F90; color: #fff; }
.btn, .btn.touch { border-radius: 0; }
.btn { font-size: 13px; padding: 0; display: inline-block; -ms-box-sizing: border-box; box-sizing: border-box; background-clip: padding-box; border: 0 none; font-family: helvetica neue, tahoma, arial, hiragino sans gb, microsoft yahei, sans-serif; font-weight: 500; text-align: center; text-decoration: none; cursor: pointer; }
.icon-c { width: 25px; height: 25px; display: block; margin: 0 auto; background: url(../images/icon_n.png) no-repeat; background-size: 42px; background-position: 4px -575px; }
.icon-o { width: 25px; height: 25px; display: block; margin: 0 auto; background: url(../images/icon_n.png) no-repeat; background-size: 42px; background-position: 4px -532px; }
/*.icon-cutprize, .icon-order{
	background: url(../images/icon_n.png) no-repeat;
    content: "";
   
	background-size: 42px;
}
.icon-cutprize{	background-position: 20px -572px;
}
.icon-order{background-position: 20px -530px;
}
*/
.z_center { text-align: center; }
.haomaxx_tt { background: #eeeeee; padding: 5px; border-bottom: 1px solid #e7e7e7; }
.haomaxx_yc { padding: 0px; margin:5px 0;}
.escrow-head { background: #ff0000; padding: 0 15px 0 15px; height:70px;color: #fff; }
.escrow-head .basic_info {padding:15px 0; }
.escrow-head .basic_info .head_info { width: 46px; height:46px; border-radius: 50%; overflow: hidden; display: block; float: left; margin-top:-3px; }
.escrow-head .basic_info .head_info img { width: 100%; height: 100%; }
.escrow-head .detail_info { margin-left: 12px; display: block; float: left;  }
.escrow-head .detail_info .item_main {
 margin-bottom: 3px; font-weight: 700; line-height: 1.2em; overflow: hidden; font-size: 1rem; }
.escrow-head .detail_info .item_main .name { font-size: 1em; color: #fff;  }
.escrow-head .detail_info .item_main .info {
 display: inline-block;
    font-size: .8em;
    font-weight: normal; 
    margin: 0px 0 0 5px;
    vertical-align: middle;
	color:#fff;
}
.escrow-head .detail_info .item_other {  font-size: .8em;color:#fff; }
.escrow-head .detail_info .item_other div{ font-weight:bold; font-family: Arial, Helvetica, sans-serif;}

.escrow-head .good_info { text-align: center; display: block; float: left; }
.escrow-head .good_info a .good_rate { display: block; font-size: 1.125rem; font-weight: 700; color: #fff; margin-bottom:3px; }
.escrow-head .good_info a .good_rate_title {
 font-size: .75rem; color: #fff }
.escrow-head .escrow_tel { display:block; float:right;  background:#fff; border-radius:50px; margin-top: -3px;}
.escrow-head .escrow_tel i { display: block; width: 44px; height: 44px; background: url(../images/icon_n.png) no-repeat; background-size: 40px; background-position: 7px -575px; }
.mod_media { width: 45px; height: 45px; overflow: hidden; margin-left: 5px; margin-top: 3px; display: inline-block; float: left }
.item_list { display: inline-block; width: 60%; text-align: left; margin-top: 2px; }
.item_main {
 margin-bottom: .375rem;
 font-size: .9375rem;
 margin-bottom: .45rem; font-weight: 700; line-height: 1.2em; overflow: hidden; font-size: 1rem; color: #333; }
.item_minor { font-size: 1rem; color: #333;  margin-bottom: .45rem;
line-height: 1.2em;  font-size: .9rem;
}
.list-info li { background: #FFF; border-bottom: 1px solid #E3E3E3; font-size: 12px; color: #858586; line-height: 20px; overflow: hidden; position: relative; }
.list-info li a { display: block; padding: 12px 10px 15px; padding-bottom: 8px; height: 100%; -webkit-border-radius: 0; }
.list-info li strong { color: #3F4358; font: 700 24px Arial; }
.list-info li strong>span { font: 700 24px Arial; }
.list-info li p { color: #7A7E88; width: 100%; box-sizing: border-box; position: relative; white-space: nowrap; text-overflow: clip; overflow: hidden; }
.list-info li .origin { position: relative; }
.list-info li .price { color: #fb6b5b; font-weight: 700; font-size: 16px; margin-top: 6px; }
.s-page { height: 50px; line-height: 50px; text-align: center; }
.search p { padding: 5px; background: #fff; line-height: 30px; clear: both; }
.search p label { display: block; float: left; }
.search .text { width: 60%; height: 32px; vertical-align: top; border: 1px solid #CCC; border-radius: 2px; font-size: 1.2em; font-weight: bold; background: #FFF; margin-right: 2% }
.search p input.dan { margin-top: 3px; margin-left: 3px; margin-right: 3px; width: 18px; height: 18px; vertical-align: top; border: 1px solid #CCC; -webkit-appearance: none; border-radius: 2px; -moz-appearance: none; -o-appearance: none; background: #FFF; }
.search p input.dan_active { width: 18px; height: 18px; vertical-align: top; border: 1px solid #ccc; -webkit-appearance: none; border-radius: 2px; background: url(../images/gou.png) 0 0 no-repeat; background-size: 90%; }
.search .button { vertical-align: top; height: 32px; width: 18%; border: none; -webkit-appearance: none; border-radius: 2px; background-size: 50%; cursor: pointer; background: #F60; color: #fff }
.haomaxx_nr p span.pay-num { font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: #F60 }
/*.pay-escrow img{ border:1px solid #dadada}*/
.haomaxx_nr input { height: 28px; line-height: 28px; border: 1px solid #dadada; border-radius: 3px; margin-right: 5px; font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #666 }
.haomaxx_nr input.pay-bt { width: 50% }
.haomaxx_nr span.pay-btf { font-size: 0.875em; }
.haomaxx_nr textarea { border: 1px solid #dadada; border-radius: 3px; width: 220px }
input.pay-dj { width: 70px; }
.pay-tips { background: #FFC; font-size: 14px; text-align: center }
input.ljyd { color: #fff; background: #F60; border: none; width: 97%; display: block; margin: 0 auto; text-align: center; height: 35px; line-height: 35px; font-size: 16px; font-family: "微软雅黑"; padding: 0 5px; }
.buy { width: 100%; margin: 10px auto; }
.buy a { display: block; background: #FB7D00; height: 40px; line-height: 40px; text-align: center; color: #fff; border-radius: 5px }
/*支付状态*/
.pay-result { padding: 30px 0; background: #fff }
.pay-r-bt { font-size: 18px; color: #50ae51; font-weight: bold; text-align: center; margin-bottom: 20px; }
.pay-r-bt i { display: block; width: 65px; height: 65px; background: url(../images/pay-result.png) no-repeat 0 0; margin: 0 auto 10px; background-size: 100%; }
.pay-r-x { width: 260px; margin: 0 auto 40px; color: #666; }
.pay-r-x li { height: 35px; line-height: 35px; font-size: 14px; }
.pay-r-x li dl dt { margin-right: 30px; float: left }
span.pay-r-tel { font-size: 20px; color: #ed1b24 }
span.pay-r-money { font-size: 20px; color: #ff5500 }
.pay-r-button { width: 288px; margin: 0 auto }
.pay-r-button a { display: inline-block; width: 126px; height: 39px; line-height: 39px; text-align: center; font-size: 18px }
.pay-r-button a.pay-r-b1 { background: #4ca627; border-radius: 3px; color: #fff; margin-right: 30px; }
.pay-r-button a.pay-r-b2 { background: #f9f9f9; border-radius: 3px; color: #666; border: 1px solid #cdcdcd }
.pay-r-bt1 { margin: 0 auto 20px; text-align: center; }
.pay-r-bt1 i { display: block; width: 65px; height: 65px; background: url(../images/pay-result.png) no-repeat 0px -65px; margin: 0 auto 10px; background-size: 100%; }
.pay-r-bt1 .pay-r-t { font-size: 14px; color: #666 }
.pay-r-bt1 .pay-r-t p { color: #F60; font-size: 16px; }
.pay-r-button a.one { margin: 0 auto; display: block }
.pay-payment { padding: 5% }
.pay-payment p { height: 35px; line-height: 35px; color: #f00 }
.pay-payment ul li { height: 30px; line-height: 30px; font-size: 0.875em }
.jzgd { height: 38px; line-height: 38px; border-top: 1px solid #eeeeee; background: #FFF; text-align: center; color: #6b6b6b; cursor: pointer }
.jzgd .gdicon { display: inline-block; width: 20px; height: 20px; background-position: -140px 0px; background-size: 170px; }
/*号码详情页增加的卖家说*/

.saler-say h2 { height: 40px; line-height: 40px; padding-left: 18px; font-size: 14px; color: #525252; cursor: pointer; border-bottom: 1px solid #e7e7e7; background: #fff; position: relative; margin: 0px; font-weight: bold; }
.saler-con { padding: 15px; background: #fff }
.saler-logo { width: 20%; float: left }
.saler-js { width: 75%; float: right }
.saler-js p { font-size: 0.875rem; line-height: 30px; }
.saler-js p span { font-size: 1rem; }
.saler-neirong { background: #fdf5e2; border: 1px solid #e0dabe; border-radius: 5px; padding: 10px; font-size: 0.875rem; color: #666; margin-top: 15px; position: relative; }
.saler-neirong-top { display: block; overflow: hidden; width: 0px; height: 0px; border: 6px solid #e0dabe; border-color: #e0dabe #fff; border-width: 0 6px 6px 6px; position: absolute; top: -6px; left: 20px; }
.newlist .newlistbt { line-height: 40px; padding: 0 10px; background: #eff8ff; height: 40px; }
.newlist .newlistbt span { display: inline-block; float: left; color: #129bf0 }
.new_all { background: #FFF; padding: 10px; }
.new_all .tjnew { padding: 5px 0 }
.new_all .tjnew .newtu { width: 30%; }
.new_all .tjnew .newtu img { width: 90px; height: 90px; border-radius: 90px; }
.new_all .tjnew .newzi { width: 67%; margin-left: 3%; padding-bottom: 10px; border-bottom: 1px solid #cecece; position: relative; }
.new_all .tjnew .newzi h1 { height: 38px; line-height: 38px; font-size: 1em; font-weight: normal; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #222222 }
.new_all .tjnew .newzi p { font-size: 0.8em; color: #979797; line-height: 20px; }
.new_all .tjnew .newzi p span { color: orange; padding: 0 5px }
.jjr_ico { position: absolute; top: 45px; right: -10px; }
.jjr_ico a { float: left; width: 33px; height: 26px; border-radius: 2px; margin-right: 8px; }
.jjr_ico1{ background:#75c108;}
.jjr_ico2{ background:#129bf0;}
.jjr_ico i { display: block; width: 20px; height: 20px; margin: 2px auto; background: url(../images/tel_icons2.png) no-repeat; background-size: 40px; }
.jjr_ico a.jjr_ico2 i { background-position: -20px 0; }
.text-danger { color: #fb6b5b; }
.text-success { color: #75c108; }
.text-info { color: #5dcff3; }
.text-normal { color: #717171; }
.clearfix { *+height:1%;
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }


#open{position: fixed; z-index:99999; top:0; left:0; width:100%; height:100%; background:#f5f5f5;}
.title-bar-wrapper{ height:40px; position:relative;background: #FFF;
    box-shadow: 0 .026667rem .20rem 0 rgba(0,0,0,.20);}
.title-bar-wrapper .i-back{ position:absolute; left:0; top:0; display:block; width:30px; height:30px; padding:5px; background: url(../images/i-back.png) #ededed no-repeat center center; background-size: 30px;}
.title-bar-wrapper h2{ display:block; font-size:18px; line-height:40px; padding:0; text-align:center; margin:0;}
.open_contact{ text-align:center; width:260px; padding:15px;  position:fixed; background:#fff;z-index:999999; top:40%; left:50%; margin-top:-100px; margin-left:-130px;}

.lovemobile-select li{ display:block; float:left; width:50%; text-align:center; line-height:40px; background:#ffd7e7;}
.lovemobile-select li a{ display:block; color:#ff77ad;}
.lovemobile-select li.active{ background:#ffb8d4; }
.lovemobile-select li.active a{color:#fff;}

/*清除条件和订阅*/
.tt-first { width: 100%; height: 33px; border-bottom: 2px solid #eee; position: relative; margin: 10px 0 0; }
.tags-sub { right: 10px; left: 0; position: absolute; top: 0; font-size: 1.0em; }
.tags-sub li { margin: 0 0 0 10px; float: left; }
.tags-sub li a { color: #666; display: block; height: 33px; line-height: 28px; }
.tags-sub li.current a { color: #FF9934; border-bottom: 2px solid #FF9934; }
.tags-sub li.arrow { position: relative; margin-right: 17px; }
.tags-sub li.arrow i, .tags-sub li.arrow s { width: 0; height: 4px; border: 4px solid #AAA; border-color: #AAA transparent; position: absolute; right: -12px; }
.tags-sub li.arrow i.active, .tags-sub li.arrow s.active {  border-color: #ff8a00 transparent;}
.tags-sub li.arrow s { border-width: 0 4px 4px 4px; top: 5px; }
.tags-sub li.arrow i { border-width: 4px 4px 0 4px; top: 16px; }

.han{color: #666;
    display: block;
    height: 33px;
    line-height: 28px;}
input.han4 { margin-top: 6px; margin-left: 3px; margin-right: 3px; width: 18px; height: 18px; vertical-align: top; border: 1px solid #CCC; -webkit-appearance: none; border-radius: 2px; -moz-appearance: none; -o-appearance: none; background: #FFF; }
input.han4_active { width: 18px; height: 18px; vertical-align: top; border: 1px solid #ccc; -webkit-appearance: none; border-radius: 2px; background: url(../images/gou.png) 0 0 no-repeat; background-size: 90%; }